.abstract-art {
  transition: transform 0.5s ease, filter 0.5s ease;
}

.morphed {
  transform: scale(1.2) rotate(45deg);
  filter: blur(2px);
}

.about {
  background-image: linear-gradient(#bbb5b5, #a5a0a0);
  background-size: 2px 100%;
  background-repeat: no-repeat;
  background-position: center center;
  font-size: 20px;
}

h1 {
  font-weight: bold;
  
  color: black;
}

.headline {
  margin-top: 40px;
  margin-bottom: 5px;
}

.apps {
  color: black;
}

.apps:hover {
  color: rgb(80, 80, 225);
}

.summary {
  color: gray;
  margin-bottom: 7px;
  font-size: 15px;
}

.sum:hover {
  color: black;
  cursor: pointer;
}

.summary2 {
  color: gray;
  margin-bottom: 7px;
  font-size: 15px;
}

.summary2:hover {
  color: black;
  cursor: pointer;
}

.social-icons {
  text-align: end;
  margin-top: 5px;
  margin-right: 10px;
  margin-bottom: 5px;
}

.social-icons a {
  font-size: 30px;
  margin: 0 9px;
}

.socials {
  color: black;
}

.socials:hover {
  color: rgb(80, 80, 225);
}



.projects-button {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px 20px;
  font-size: 20px;
  
  color: #333;
  border-radius: 5px;
  cursor: pointer;
}

.projects-button:hover {
  color: rgb(80, 80, 225);
}

.arrow {
  border: solid #333;
  border-width: 0 3px 3px 0;
  display: inline-block;
  padding: 3px;
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
}

.arrow.down {
  margin-left: 5px;
  margin-bottom: 3px;
}

/* Additional CSS styles for your page */
