body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  padding-bottom: 50px;
  /* -webkit-font-smoothing: antialiased; */
  /* -moz-osx-font-smoothing: grayscale; */
  /* background-color: rgb(251, 252, 253); */
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.active {
  font-weight: bold;
}

.navbar-menu {
  margin-left: 20px;
}

.navbar-nest-item {
  display: none;
}

.navbar {
  background-color: rgb(246, 247, 247);
  color: black;
}

.bandcamp {
  width: 350px;
  height: 470px;
}

.soundcloud {
  width: 350px;
  height: 470px;
}

